@-webkit-keyframes highlight {
    from { background-color: rgba(255, 255, 221, 1) }
    to { background-color: rgba(255, 255, 221, 0) }
}
@-moz-keyframes highlight {
    from { background-color: rgba(255, 255, 221, 1) }
    to { background-color: rgba(255, 255, 221, 0) }
}
@-o-keyframes highlight {
    from { background-color: rgba(255, 255, 221, 1) }
    to { background-color: rgba(255, 255, 221, 0) }
}
@keyframes highlight {
    from { background-color: rgba(255, 255, 221, 1) }
    to { background-color: rgba(255, 255, 221, 0) }
}
.jstBlock .wiki-preview {
    margin-bottom: 5px;
}
div.journal > div:target, div.message.reply:target {
    -webkit-animation: highlight 0.5s ease-in-out;
    -moz-animation: highlight 0.5s ease-in-out;
    -o-animation: highlight 0.5s ease-in-out;
    animation: highlight 0.5s ease-in-out;
}
.issue-thread-form {
    margin-bottom: 5px;
    clear: left;
}
.thread-links {
    padding: 0.5em 0;
    margin-top: -0.25em;
    font-size: 0.9em;
    color: #959595;
}
.thread-links .navigation-links {
    margin-left: 1.5em;
    cursor: default;
}
.thread-links .navigation-links .icon-only {
    vertical-align: middle;
    cursor: unset;
    opacity: 0.5;
}
.thread-links .navigation-links .icon-only.active {
    cursor: pointer;
    opacity: 1;
}
.icon-thread-up {
    background-image: url(../images/up.png);
    background-size: 16px;
}
.icon-thread-previous {
    background-image: url(../images/previous.png);
    background-size: 16px;
}
.icon-thread-down {
    background-image: url(../images/down.png);
    background-size: 16px;
}
.icon-thread-next {
    background-image: url(../images/next.png);
    background-size: 16px;
}
body.controller-messages #reply {
    margin-top: 1em;
}
#tab-content-history.threaded, #tab-content-comments.threaded, #replies.threaded {
    background-image: url(../images/thread.png);
}
#tab-content-history.threaded {
    background-clip: content-box;
    background-position-x: 6px;
    padding-bottom: 6px;
}
#tab-content-history.threaded div.journal, #tab-content-comments.threaded div.journal, #replies.threaded .message {
    background-color: #fff;
}
#tab-content-history.threaded div.journal.idnt-1, #tab-content-comments div.journal.idnt-1, #replies .message.idnt-1 {
    margin-left: 16px;
}
#tab-content-history.threaded div.journal.idnt-2, #tab-content-comments div.journal.idnt-2, #replies .message.idnt-2 {
    margin-left: 32px;
}
#tab-content-history.threaded div.journal.idnt-3, #tab-content-comments div.journal.idnt-3, #replies .message.idnt-3 {
    margin-left: 48px;
}
#tab-content-history.threaded div.journal.idnt-4, #tab-content-comments div.journal.idnt-4, #replies .message.idnt-4 {
    margin-left: 64px;
}
#tab-content-history.threaded div.journal.idnt-5, #tab-content-comments div.journal.idnt-5, #replies .message.idnt-5 {
    margin-left: 80px;
}
#tab-content-history.threaded div.journal.idnt-6, #tab-content-comments div.journal.idnt-6, #replies .message.idnt-6 {
    margin-left: 96px;
}
#tab-content-history.threaded div.journal.idnt-7, #tab-content-comments div.journal.idnt-7, #replies .message.idnt-7 {
    margin-left: 112px;
}
#tab-content-history.threaded div.journal.idnt-8, #tab-content-comments div.journal.idnt-8, #replies .message.idnt-8 {
    margin-left: 128px;
}
#tab-content-history.threaded div.journal.idnt-9, #tab-content-comments div.journal.idnt-9, #replies .message.idnt-9 {
    margin-left: 144px;
}
#tab-content-history div.journal {
    order: var(--indice);
}
#tab-content-history.threaded div.journal blockquote, #tab-content-comments.threaded div.journal blockquote {
    background-color: #fafafa;
    margin-right: 0.6em;
    color: #888;
}
